extends template.pug

block title
	title error | Hoppala!

block content
	div.holder
		div.alert.alert-danger.fade.in(role='alert')
			span #{error}
				a.text-danger(href='/')
					strong &nbsp;go home