extends template.pug

block title
    title Administrator | Hoppala!

block content
    div.holder
        if items != undefined
            each item in items
                div.panel
                    div #{item}
                    div
                        a(href='/clean/' + item._id)
                            span.glyphicon.glyphicon-trash(aria-hidden='true')
                    div
                        a(href='/restore/' + item._id)
                            span.glyphicon.glyphicon-import(aria-hidden='true')