extends template.pug

block title
    title Your Results | Hoppala!

block content
    script(src='/controllers/userResultEvent.js')
    script(src='/controllers/chartObjects.js')
    div.holder
        div.alertdiv
        div.header-result-page(data-user=username)
        div.profile-canvas
            canvas#result
        div.poll-panels