doctype html  
html
    head
        block title
            title Hoppala!
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='/public/css/main.css')
        link(rel='icon' href='/public/img/favicon.ico' type='image/x-icon')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')
    body
        script(src='/common/commonFunctions.js')
        div.container-fluid.top
            div.row
                div.col-sm-6.menu
                    a(href='/')
                        h5 write and share a question if you have a GitHub account or just vote don't make noise
                div.col-sm-6.menu(data-admin=admin)
                    if (id)
                        div.name you may now ask #{username}
                        a(href='/newpoll')
                            div.btn new poll
                        a(href='/result')
                            div.btn your results
                        a(href='/logout')
                            div.btn logout
                    else
                        a(href='/auth/github')
                            h5 Login via GitHub
        div.container-fluid.line
        div.container-fluid.waiting-line
        div.container-fluid.main
            block content
        div.container-fluid.footer
            div.row.foot
                div.col-sm-3
                    a(href='https://github.com/BezginBack/fcc-315') erdem @ 2017  
                        i.fa.fa-github
                div.col-sm-offset-7.col-sm-1.text-right
                    a(href='/') home
                div.col-sm-1.text-right
                    a(href='/info') info
        div.container-fluid.alert-div